<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.eclipsetotale.tutorial.horloge.horloges">
      <Horloge
            classe="com.eclipsetotale.tutorial.horloge.nebula.HorlogeNebulaImpl"
            id="com.eclipsetotale.tutorial.horloge.nebula"
            nom="Nebula">
      </Horloge>
   </extension>

</plugin>
